/****************Custom Properties*********************/

:root {
  /* --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75); original */
  --first-color: #149ddd !important;
  --first-alpha-color: rgba(20, 157, 221, 0.75);
  --second-color: #14192d !important;
  /* --second-color: #040b14; */
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(109, 14, 141, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  /* --title-color: #333; */
  --title-color: #173b6c;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}
/***********************Reset**************************/

html {
  box-sizing: border-box !important; 
  /* font-family: var(--font); */
  font-size: 16px;
  scroll-behavior: smooth;
} 

body {

  /* margin: 0;   */
  overflow-x: hidden !important; 
  font-family: var(--font);
  color: var(--text-color) !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: var(--link-color) !important;
  transition: all 0.3s ease-out;
}

a:hover {
  opacity: 0.75 !important;
  
} 

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  height: auto;
}

p {

  line-height: 1.6rem;
}

/*interesante*/
[id]{

  scroll-margin-top:3ex;
}
/******************Components*********************/

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
/*scroll-top-btn*/
.scroll-top-btn {
  /* position: fixed;*/
  z-index: 999;
  /*bottom: 1vh;
  right: calc(4rem + 1vw); */
  position:fixed;
	/* width:60px;
	height:60px; */
	bottom:120px;
	right:25px;
	width:60px;
	height:60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--first-color);
  color: var(--second-color);
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
  
}

.scroll-top-btn:hover {
  background-color: var(--first-alpha-color);

}

.hidden {
  opacity: 0;
  visibility: hidden;
}
/*Contact form*/
.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-family: var(--font);
  font-size: 0.85rem;
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

button.close span svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color) !important;
  
}

#staticBackdrop{
padding-right: 0px !important;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}
.navbar-brand{
  font-size: 1.85rem !important;
  /* color: var(--first-color) !important; */
    color: var(--white-color) !important;
}
.menu a{
  /* color: var(--first-color) !important; */
    color: var(--white-color) !important;
  font-size: 1.5rem !important;
}

.menu a:hover,  .menu a:focus {
  background-color: var(--first-color) !important;
  color: var(--white-color) !important;
  
}

.menu a:focus, .menu a:active{
  opacity: 1 !important;

}

.navbar-toggler svg {
  /* fill: var(--first-color) !important; */
  fill: var(--white-color) !important;
}
/*hero-image*/
.hero-image{
background-image: var(--hero-image);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: var(--hero-attachment);

}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--hero-opacity-color);
}


.hero-image-title {
  font-size: 7.5vw;
  
  color: var(--hero-text-color);
  /* margin-bottom: 1.5rem; */
}


.hero-image-title + h5{
  font-size: 5vw;
  color: var(--hero-text-color);
  margin-bottom: 2rem;

}

/*Progress*/

progress {
  width: 100% ;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}

progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}

.progress {
  margin-bottom: 1rem;
}


progress::-moz-progress-value {
  background-color: var(--gray-dark-color);
}

.skill{
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}
/****************Utilities*********************/
.bg-second-color{
  background-color: var(--second-color) !important;

  }

blockquote {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  border-left: 1px solid var(--first-color);
  font-size: 1rem !important;
}
body.modal-open { overflow:inherit; padding-right:inherit !important; }
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.none {
  display: none;
}
.section{
  padding: 2rem 1rem !important;
  
  }

.bg-progress-value{
background-color: var(--first-color) !important; 

}

.btn-primary{
color: var(--white-color) !important;
background-color: var(--first-color) !important;
box-shadow: none !important;
border: none;
width: 200px;
padding: 1rem;
border-radius: 0.5rem;
display: inline-block;

}

.btn-primary:hover{
  background-color: var(--first-alpha-color) !important;


}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--title-color);
  font-weight: bold;
}


.bg-gray-light {
  background-color: var(--gray-light-color);
}
/***********************site style***************************/
.custom-modal-styles h5{
color:var(--first-color) !important;
font-weight: bold;

}

.custom-modal-styles h6{
  font-weight: bold;
  
}
.footer {
  background-color: var(--third-color);
  text-align: center;
  padding: 0.5rem;
  color: var(--white-color);
}
.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  fill: var(--first-color);
  width: 2rem;
  height: 2rem;
}

.contact-card > small {
  margin-top: -1rem;
}


.header{
  z-index: 999;
  width: 100%;


  }

  .bg-header-second-color{

    background-color: var(--second-color);

  }

.navbar-light .navbar-toggler{
    

border-color: var(--white-color) !important;
  
/* 
border-color: #149ddd !important; */

}
.carousel{

  background-color: var(--carousel-bg-color);
  
}

.carousel-caption {
  color: var(--text-color);
  text-align: center;
}

.carousel-caption > a {
color: var(--text-color) !important;
text-decoration: underline !important;

}
.carousel-caption h3{
color: var(--first-color);

}
.carousel-item img {
border-radius: 50%;
width: 45%;
margin-bottom: 150px;
margin-top: 20px;
}
.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}

.portfolio-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}


.portfolio-modal h3 {
  padding: 0.5rem 0;
  margin: 1rem auto;
  border-bottom: medium solid var(--first-color);
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--first-color);
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio .row div{
 padding-left: 0px;
 padding-right: 0px; 
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {
  .modal-dialog {
    max-width: 400px;

}
}

@media screen and (min-width: 1024px) {
  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav{
  text-align: center;
  
  }


  .about article:first-child a{
   margin-bottom: 30px; 

  }
  .about article:nth-child(1) img{
    margin-bottom: 30px; 

 
   }

  .container{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  
  }


  

  }
  @media screen and (min-width: 769px) {

    .carousel-item img {
 
      width:20%;
      margin-bottom: 200px;
      }

      .portfolio-info {
        margin: 1rem;
      }

      
    }
  

@media screen and (min-width: 992px) {


  .about, .services{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 100%; */
  }
  a.navbar-brand{
  color:var(--white-color) !important; 
  /* font-size: 2rem !important;  */

  }
 
  .bg-transparent{
    background-color: transparent !important;
  }
 
  .menu a{
    /* color: var(--first-color) !important; */
        color: var(--white-color) !important;
        /* font-size: 1.5rem !important; */

 

  }
  .menu a:hover, .menu a:focus {
    background-color: transparent !important;
    color: var(--first-color) !important;

  }


  
}